<canvas #myCanvas (touchstart)="handleStart($event)" (touchmove)="handleMove($event)"></canvas>

<ion-toolbar id="bottom-toolbar">
  <ion-buttons left>
    <button color="dark" ion-button icon-only (click)="clearCanvas()"><ion-icon name="trash"></ion-icon></button>
    <button color="dark" ion-button icon-only (click)="changeSize(4)"><ion-icon style="font-size: 1em;" name="radio-button-on"></ion-icon></button>
    <button color="dark" ion-button icon-only (click)="changeSize(8)"><ion-icon style="font-size: 2em;" name="radio-button-on"></ion-icon></button>
  </ion-buttons>
  <ion-buttons right>
    <button color="light" ion-button outline (click)="confirmarFirma()">Confirmar!</button>
  </ion-buttons>
</ion-toolbar>
