<!--
  Generated template for the ListaTrabajoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header #head>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de trabajos ({{tipo}})</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding hide-header [header]="head">

  <ion-col col-12 col-md-6 offset-md-3 text-center *ngIf="listaClientes?.length != 0">
    <ion-list no-lines no-border *ngFor="let cliente of filterClientes()">
      <ion-list-header>
        {{cliente.nombreEmpresa}} ({{cliente.rut}})
      </ion-list-header>

      <ion-item-sliding *ngFor="let trabajo of filterTrabajos(cliente)">
        <ion-item (click)="switchTrabajo(trabajo.id)" >
          {{trabajo.equipo != undefined ? trabajo.equipo.marca.nombre : 'Sin equipo'}} - {{trabajo.equipo != undefined ? trabajo.equipo.matricula: ''}} :: # ({{trabajo.id}})
          <ion-note item-end> {{trabajo.fechaRecepcion}}</ion-note>
          <ion-icon *ngIf="(!trabajo.esReparacion)" name='ios-construct' item-start></ion-icon>
          <ion-icon *ngIf="(trabajo.esReparacion)" name='ios-build-outline' item-start></ion-icon>
          <ion-icon name='ios-arrow-forward-outline' item-end></ion-icon>
        </ion-item>
        <ion-item-options *ngIf="recuperar">
          <button ion-button color="danger" (click)="borraTrabajo(trabajo.id)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <br><br>
    </ion-list>
  </ion-col>

  <ion-col col-12 col-md-6 offset-md-3 text-center *ngIf="listaClientes?.length == 0">
    <ion-card>
      <b>La lista de trabajos está vacía....</b>
    </ion-card>
  </ion-col>
</ion-content>
