<ion-header>
  <ion-toolbar>
    <ion-title>
      Description
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 offset-md-3>
        <ion-item>
          Modelo
          <ion-note item-end>
            {{equipoActual.modelo}}
          </ion-note>
        </ion-item>
        <ion-item>
          Marca
          <ion-note item-end>
            {{equipoActual.marca}}
          </ion-note>
        </ion-item>
        <ion-item>
          Color
          <ion-note item-end>
            {{equipoActual.color}}
          </ion-note>
        </ion-item>
        <ion-item>
          Matricula
          <ion-note item-end>
            {{equipoActual.matricula}}
          </ion-note>
        </ion-item>
        <ion-item>
          Número chasis
          <ion-note item-end>
            {{equipoActual.numeroChasis}}
          </ion-note>
        </ion-item>
        <ion-item>
          Tipo de equipo
          <ion-note item-end>
            {{equipoActual.tipoEquipo}}
          </ion-note>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 offset-4>
        <button ion-button full color="primary" (click)="dismiss()" >Confirmar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
