<!--
  Generated template for the ListaPuntocontrolPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header #head>

  <ion-navbar>
    <ion-title>Listado de Puntos de control</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding hide-header [header]="head">
  <ion-col col-12 col-md-6 offset-md-3 text-center *ngIf="lista?.length == 0">
    <ion-card>
      <b>Este trabajo aún no cuenta con puntos de control ingresados...</b>
    </ion-card>
  </ion-col>
  <ion-col col-12 col-md-6 offset-md-3 *ngIf="lista?.length != 0">
    <ion-list>
      <ion-item *ngFor="let pc of lista ">
        <ion-thumbnail (click)="seleccionarPuntoControl(pc.id)" item-start>
          <img src="assets/imgs/control.jpg">
        </ion-thumbnail>
        <h2 (click)="seleccionarPuntoControl(pc.id)">{{pc.orden}} - {{pc.nombre}}</h2>
        <p (click)="seleccionarPuntoControl(pc.id)"> Responsable: {{(pc.responsable == undefined || pc.responsable.nombre == undefined) ? "Sin nombre" : pc.responsable.nombre}}</p>
        <button ion-button clear item-end (click)="editarPuntoControl(pc.id)">Editar</button>
      </ion-item>

    </ion-list>
  </ion-col>

  <ion-fab right bottom >
    <button ion-fab color="" (click)="nuevoPuntoControl()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
