page-ingresar-detalles {

}

#myInput {
  width: calc(100% - 10px);
  border: 0;
  border-radius: 0;
  background: transparent;
  height: 150px;
}

.separador {
  border-top: 1px solid #eeeeee;
}


#inputGasolina {
  //margin-bottom: 0px !important;
}
