page-ingresar-detalles {

}

#myInput {
  width: calc(100% - 10px);
  border: 0;
  border-radius: 0;
  background: transparent;
  height: 150px;
}

.separador {
  border-top: 1px solid #eeeeee;
}


#inputGasolina {
  //margin-bottom: 0px !important;
}


.dibujo {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: transparent !important;
  //background: transparent !important;
}


.dibujo_card {
  background-color: transparent !important;
  //background: transparent !important;
}
