page-alta-firma {

}

#bottom-toolbar * {
  background-color: #488aff !important;
}

#bottom-toolbar {
  position: absolute;
  top: 408px;
  left: 0px;
}

canvas {
  background-color: #eee !important;
  border: 4px solid #ccc;
  position: absolute;
  top: 100px;
  left: 0px;
}
