<!--
  Generated template for the ListaTareaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header #head>

  <ion-navbar>
    <ion-title>Listado de tareas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding hide-header [header]="head">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 offset-md-3 text-center *ngIf="lista?.length == 0">
        <ion-card>
          <b>No existen tareas para este trabajo...</b>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-md-6 offset-md-3 *ngIf="lista?.length != 0">
        <ion-list>
          <ion-item *ngFor="let tarea of lista ">
            <ion-thumbnail (click)="seleccionarTarea(tarea.id)" item-start>
              <img src="assets/imgs/llave.png">
            </ion-thumbnail>
            <h2 (click)="seleccionarTarea(tarea.id)">{{tarea.descripcion}}</h2>
            <p (click)="seleccionarTarea(tarea.id)">
                {{tarea.nombre}} <br>
                Minutos estimados: {{tarea.minutosEstimados}}
                PC: {{tarea.puntoControl}}
            </p>
            <button ion-button clear item-end (click)="editarTarea(tarea.id)"></button>
          </ion-item>

          <!--ion-item>
            <ion-thumbnail (click)="seleccionarTarea()" item-start>
              <img src="assets/imgs/llave.png">
            </ion-thumbnail>
            <h2 (click)="seleccionarTarea()">Cortar aluminio</h2>
            <p (click)="seleccionarTarea()">En cubitos de 40x40</p>
            <button ion-button clear item-end (click)="editarTarea()">Editar</button>
          </ion-item>

          <ion-item>
            <ion-thumbnail (click)="seleccionarTarea()" item-start>
              <img src="assets/imgs/llave.png">
            </ion-thumbnail>
            <h2 (click)="seleccionarTarea()">Doblar los cortes</h2>
            <p (click)="seleccionarTarea()">45 grados norte->sur</p>
            <button ion-button clear item-end (click)="editarTarea()">Editar</button>
          </ion-item-->
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab right bottom>
    <button ion-fab color="" (click)="nuevaTarea()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
