<!--
  Generated template for the ListaClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header #head>

  <ion-navbar>
    <ion-title>Paso 1: Seleccionar un cliente</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding hide-header [header]="head">

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 offset-md-3>
        <ion-searchbar [(ngModel)]="filterText"
                       [placeholder]="filterPlaceholder"
                       [formControl]="filterInput"></ion-searchbar>
      </ion-col>
      <ion-col col-12 col-md-6 offset-md-3 text-center *ngIf="lista?.length == 0">
        <ion-card>
          <b>La lista de clientes está vacía....</b>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-md-6 offset-md-3 *ngIf="lista?.length != 0">
        <ion-list>
          <ion-item [ngClass]="{'seleccionado': isSelectedCliente(cliente.id)}"
                    *ngFor="let cliente of getListaClientes() ">

            <ion-thumbnail (click)="seleccionarCliente(cliente.id)" item-start>
              <img src="assets/imgs/client.png">
            </ion-thumbnail>
            <h2 (click)="seleccionarCliente(cliente.id)">{{cliente.nombreEmpresa}}</h2>
            <p (click)="seleccionarCliente(cliente.id)">{{cliente.rut}}</p>

            <button *ngIf="cliente.id != seleccionado" ion-button clear item-end (click)="editarCliente(cliente.id)">Editar</button>
            <button *ngIf="cliente.id == seleccionado" ion-button clear item-end >Asignado</button>
            <ion-badge ></ion-badge>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-buttons [hidden]="!esRecuperacion()" class="myFab_upperSide" ion-fixed top right edge>
    <button
            ion-button round color="green"
            (click)="seleccionarCliente(seleccionado)"> Continuar <ion-icon name="arrow-round-forward"></ion-icon>
    </button>
  </ion-buttons>

  <ion-fab right bottom>
    <button ion-fab color="" (click)="nuevoCliente()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
