<!--
  Generated template for the VerTrabajoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Ver detalles del trabajo #{{trabajoActual.id}} </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 offset-md-3>

        <ion-list no-lines no-border >
          <ion-list-header>
            Cliente:
          </ion-list-header>
          <ion-item>

            <ion-thumbnail  item-start>
              <img src="assets/imgs/client.png">
            </ion-thumbnail>
            <h2>{{trabajoActual.cliente.nombreEmpresa}}</h2>
            <p>{{trabajoActual.cliente.rut}}</p>

            <button ion-button clear item-end (click)="openModalCliente()"  >Ver</button>
          </ion-item>
        </ion-list>
        <ion-list no-lines no-border >
          <ion-list-header>
            Equipo:
          </ion-list-header>

          <ion-item>

            <ion-thumbnail  item-start>
              <img src="assets/imgs/truck.png">
            </ion-thumbnail>
            <h2 >{{trabajoActual.equipo.marca}} / {{trabajoActual.equipo.modelo}}</h2>
            <p >Up</p>

            <button ion-button clear item-end (click)="openModalEquipo()" >Ver</button>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col col-12 col-md-6 offset-md-3>
        <ion-item>
          <button ion-button full color="primary" (click)="openModalCampos()">Ver más detalles del equipo</button>
        </ion-item>

        <ion-list-header>
          Detalles del trabajo:
        </ion-list-header>
        <ion-list>
          <ion-item *ngIf="trabajoActual.comentarios != undefined && trabajoActual.comentarios != ''">
            <ion-card>
              <ion-card-header>
                Comentarios
              </ion-card-header>
              <ion-card-content>
                <br>
                {{trabajoActual.comentarios}}
              </ion-card-content>
            </ion-card>
          </ion-item>

          <ion-item *ngIf="trabajoActual.comentarios == undefined || trabajoActual.comentarios == ''">
            <ion-card>
              <b>El trabajo no tiene comentarios</b>
            </ion-card>
          </ion-item>


        </ion-list>
      </ion-col>


      <ion-col col-12 col-md-6 offset-md-3>
        <ion-list>
          <ion-list-header>
            Fotos del equipo:
          </ion-list-header>
          <ion-item>
            <ion-card *ngFor="let foto of listaFoto">
              <img src="{{foto.foto}}" />
              <ion-card-content *ngIf="foto.descripcion != undefined && foto.descripcion != ''">
                <p>
                  {{foto.descripcion}}
                </p>
              </ion-card-content>
              <ion-card-content *ngIf="foto.descripcion == undefined || foto.descripcion == ''">
                <p>
                  << Esta foto no tiene descripción >>
                </p>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12 col-md-6 offset-md-3 text-center *ngIf="listaFoto?.length == 0">
        <ion-card>
          <b>No se tomaron fotos del equipo....</b>
        </ion-card>
      </ion-col>





      <ion-col col-12 col-md-6 offset-md-3>
        <ion-list>
          <ion-list-header>
            Firmas:
          </ion-list-header>
          <ion-item>
            <ion-card>
              <ion-card-header>
                Cliente:
              </ion-card-header>
              <img src="{{trabajoActual.firmaClienteRecepcion}}" />
              <ion-card-content>
                {{trabajoActual.nombreClienteRecepcion}}
              </ion-card-content>
            </ion-card>
          </ion-item>
          <ion-item>
            <ion-card>
              <ion-card-header>
                Empleado:
              </ion-card-header>
              <img src="{{trabajoActual.firmaEmpleadoRecepcion}}"  />
              <ion-card-content>
                {{trabajoActual.nombreEmpleadoRecepcion}}
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
