page-alta-trabajo {

}

.remove-tabs .tabbar {
  display: none;
}

.remove-tabs .fixed-content {
  margin-bottom: 0px !important;
}

.remove-tabs .scroll-content {
  margin-bottom: 0px !important;
}


.remove-tab-draw {
  display: none;
}
