page-alta-firma {

}

#bottom-toolbar * {
  background-color: #488aff !important;
}

#bottom-toolbar {
  position: absolute;
  left: 0px;
  bottom: 56px;
}

canvas {
  background-color: #eee !important;
  background-size: contain;
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 2px solid color($colors, sandonato_negroLogo);
  position: absolute;
  left: 0px;
  top: 85px;
}
